### List

- Mutável

- Suporta vários valores de qualquer tipo

- Conhecimento reutilizáveis - índices e fatiamento

- Métodos Úteis: append, insert, pop, del, clear, extend, +

In [18]:
lista = [123, True, 'Vini', 1.50, []]
lista

[123, True, 'Vini', 1.5, []]

In [19]:
lista[2].upper(), type(lista[2])

('VINI', str)

In [20]:
lista[-3] = 'Vinicius'
lista

[123, True, 'Vinicius', 1.5, []]

In [21]:
lista = [10, 20, 30, 40]

# Append
lista.append(50)            
print(lista)

# Delete
del lista[1]
print(lista)

# Pop (remove último elemento) -->> se passar um número com parâmetro ele remove pela posição do item!
lista.pop()
print(lista)

# Insert (índice, valor)
lista.insert(1, 20)
print(lista)

[10, 20, 30, 40, 50]
[10, 30, 40, 50]
[10, 30, 40]
[10, 20, 30, 40]

In [22]:
pri = [1, 2, 3]
sec = [4, 5, 6]

# Concatenando listas
ter = pri + sec

# Extendendo lista
qua = pri.copy()     # copy   -->> para não alterar a lista -->> pri
qua.extend(sec)      # extend -->> mexe diretamente na lista (não retorna nada)

print(f'{pri=} \n{sec=} \n{ter=} \n{qua=}')

pri=[1, 2, 3]
sec=[4, 5, 6]
ter=[1, 2, 3, 4, 5, 6]
qua=[1, 2, 3, 4, 5, 6]

### Tupla

Uma tupla é imutável:

In [23]:
nomes = 'Ana', 'Maria', 'Braga'         # Criando uma tupla
nomes[0] = 'Anas'

TypeError: 'tuple' object does not support item assignment

In [ ]:
nomes = ('Ana', 'Maria', 'Braga')           # Criando tupla
nomes = tuple(['Ana', 'Maria', 'Braga'])    # Criando tupla a partir da conversão de uma lista

In [ ]:
nomes

('Ana', 'Maria', 'Braga')

In [1]:
# namedtuples - tuplas imutáveis com nomes para valores
# Usamos namedtuples para criar classes de objetos que são apenas um
# agrupamento de atributos, como classes normais sem métodos, ou registros de
# bases de dados, etc.
# As namedtuples são imutáveis assim como as tuplas.
# https://docs.python.org/3/library/collections.html#collections.namedtuple
# https://docs.python.org/3/library/typing.html#typing.NamedTuple
# https://brasilescola.uol.com.br/curiosidades/baralho.htm
# from collections import namedtuple
from typing import NamedTuple


class Carta(NamedTuple):
    valor: str = 'VALOR'
    naipe: str = 'NAIPE'


# Carta = namedtuple(
#     'Carta', ['valor', 'naipe'],
#     defaults=['VALOR', 'NAIPE']
# )
as_espadas = Carta('A')

print(as_espadas._asdict())
print(as_espadas)
print(as_espadas[0])
print(as_espadas.valor)
print(as_espadas[1])
print(as_espadas.naipe)

print()
print(as_espadas._fields)
print(as_espadas._field_defaults)


for valor in as_espadas:
    print(valor)

{'valor': 'A', 'naipe': 'NAIPE'}
Carta(valor='A', naipe='NAIPE')
A
A
NAIPE
NAIPE

('valor', 'naipe')
{'valor': 'VALOR', 'naipe': 'NAIPE'}
A
NAIPE

### Empacotamento e Desempacotamento

Empacotando

In [27]:
nomes = ['Vinicius', 'Vieira', 'Braz']
nomes

['Vinicius', 'Vieira', 'Braz']

Desempacotando

In [ ]:
nome1, nome2, nome3 = nomes

nome2

'Vieira'

In [ ]:
nome1, *_ = nomes

nome1, _

('Vinicius', ['Vieira', 'Braz'])

In [28]:
nome1, *_, nomeFinal = nomes

nome1, nomeFinal

('Vinicius', 'Braz')

### Enumerate

In [24]:
lista = ['Maria', 'Helena', 'Luiz']
lista.append('João')

lista_enumerada = enumerate(lista)
lista_enumerada

In [25]:
for item in lista_enumerada:
    idx, nome = item
    print(idx, nome, item)

0 Maria (0, 'Maria')
1 Helena (1, 'Helena')
2 Luiz (2, 'Luiz')
3 João (3, 'João')

### -

### Exercícios

In [ ]:
import os

lista = []
while True:
    print('Selecione uma opção:')
    opcao = input('[i]nserir [a]pagar [l]istar: ')

    if opcao == 'i':
        os.system('clear')
        valor = input('Valor: ')
        lista.append(valor)

    elif opcao == 'a':
        indice_str = input('Escolha o índice para apagar: ')

        try: 
            indice = int(indice_str)
            del lista[indice]
        except:
            print('Não foi possível apagar esse index!')
    
    elif opcao == 'l':
        os.system('clear')

        if len(lista) == 0:
            print('Nada para listar')

        for i, valor in enumerate(lista):
            print(i, valor)