## Operadores Aritméticos

Precedência:

1. (n + n)

2. **

3. \*  /  //  %

4. \+ e -

Básico

In [11]:
adicao = 10 + 10
print('Adição', ':', adicao)

subtracao = 10 - 10
print('Subtração', ':', subtracao)

multiplicacao = 10 * 10
print('Multiplicação', ':', multiplicacao)

divisao = 10 / 2.4
print('Divisão', ':', divisao)

Adição : 20
Subtração : 0
Multiplicação : 100
Divisão : 4.166666666666667

Avançado

In [16]:
divisao_inteira = 10 // 2.4
print('Divisão Inteira', ':', divisao_inteira)

resto_divisao = 15 % 2
print("Resto Divisão", ':', resto_divisao)

exponenciacao = 2 ** 10
print('Exponenciação', ':', exponenciacao)

Divisão Inteira : 4.0
Resto Divisão : 1
Exponenciação : 1024

---

### Concatenação

In [19]:
'A' + 'B'

'AB'

In [20]:
'Com' + ' ' + 'espaço'

'Com espaço'

In [17]:
'A' * 10

'AAAAAAAAAA'

In [18]:
3 * 'A'

'AAA'

---

### Exercício

> Cálculo de IMC

In [23]:
nome = 'Vinícius'
altura = 1.75
peso = 70
imc = 0

imc = peso / (altura ** 2)

print('O IMC de', nome, 'é de:', imc)

O IMC de Vinícius é de: 22.857142857142858

## Operadores Lógicos

Operadores de comparação
<table>
    <thead>
        <th>OP</th>
        <th>SIGNIFICADO</th>
        <th>EXEMPLO (True)</th>
    </thead>
    <tbody>
        <tr>
            <td>></td>
            <td>Maior</td>
            <td>2 > 1</td>
        </tr>
        <tr>
            <td>>=</td>
            <td>Maior ou igual</td>
            <td>2 >= 2</td>
        </tr>
        <tr>
            <td><</td>
            <td>Menor</td>
            <td>1 < 2</td>
        </tr>
        <tr>
            <td><=</td>
            <td>Menor ou igual</td>
            <td>2 <= 2</td>
        </tr>
        <tr>
            <td>==</td>
            <td>Igual</td>
            <td>'a' == 'a'</td>
        </tr>
        <tr>
            <td>!=</td>
            <td>Diferente</td>
            <td>'a' != 'b'</td>
        </tr>
    </tbody>
</table>

In [1]:
2 > 1

True

In [2]:
2 >= 2

True

In [3]:
1 < 2

True

In [5]:
2 <= 2

True

In [6]:
'a' == 'a'

True

In [7]:
'a' != 'b'

False

- **AND** = e, todos os valor tem que ser verdadeiros
- **OR** = ou, um valor da expressão tem que ser verdadeiro
- **NOT** = não, inverte uma expressão sendo essa verdadeira ou falsa
- **IN** = entre
- **NOT IN** = não está entre

<p style="color: yellow">Importante</p>

- **0** ==> False
- **1** ==> True

Operador E

In [28]:
True and False and True

False

In [14]:
entrada = 'e'
senha = 123

if entrada == 'e' and senha == 1234:        # Os dois tem que ser verdadeiro
    print('Entrou')

else:
    print('Bloqueado')

Bloqueado

Operador OU

In [29]:
False or True or False

True

In [12]:
entrada = 'e'
senha = 123

if entrada == 'e' or senha == 1234:        # Um tem que ser verdadeiro
    print('Entrou')

Entrou

Operador NOT

In [30]:
not False

True

In [18]:
senha = 12345

if not senha:                              # Inverte expressão
    print('Bloqueado')

else:
    print('Entrou')

Entrou

Operador IN

In [31]:
0 in [0, 1, 2]

True

In [26]:
senha = '1234'

if '2' in senha:                           # Itera sobe os caracteres da STRING para fazer a validação
    print('Entrou')

Entrou

Operador NOT IN

In [33]:
3 not in [0, 1, 2]

True

In [27]:
senha = '1234'

if '5' not in senha:
    print('Entrou')                       # Itera sobe os caracteres da STRING para fazer a validação

Entrou

---

### Exercício

In [9]:
v1 = 20
v2 = 40

if v1 > v2:
    print("v1 é maior que v2")

elif v1 >= v2:
    print("v1 é maior ou igual a v2")

elif v1 < v2:
    print("v1 é menor que v2")

elif v1 <= v2:
    print("v1 é menor ou igual a v2")

elif v1 == v2:
    print("v1 é igual a v2")

elif v1 != v2:
    print("v1 é diferente de v2")

else:
    print("Isso nunca será alcançado porque todas as comparações estão cobertas")

v1 é menor que v2